{%- liquid
  assign banner_style = block.settings.banner_style
  assign image = block.settings.image
  assign image_mobile = block.settings.image_mobile
  assign inverse = block.settings.inverse
  assign subtitle = block.settings.subtitle
  assign title = block.settings.title
  assign content = block.settings.content
  assign btn_text = block.settings.btn_text
  assign btn_link = block.settings.btn_link
  assign btn_style = block.settings.btn_style
  assign parallax = block.settings.parallax

  unless image
    assign image = 'blank.svg' | asset_url
  endunless

  if image_mobile == blank
    assign image_mobile = image
  endif

  if parallax
    if image
      assign img_small = image | img_url: '18x'
      assign img_api = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.'
    else
      assign image = 'blank.svg' | asset_url
      assign img_small =  'blank.svg' | asset_url
      assign img_api = 'blank.svg' | asset_url
    endif
  endif
-%}

<section class="section-banner {{ banner_style }}">
  <div
   class="section-bg lazyload{% unless parallax == false %} small--hide{% endunless %}"
   {% if parallax %}
     id="FeaturedImage-{{ block.id }}"
     data-section-type="parallax"
     data-section-id="{{ block.id }}"
     data-parallax-src="{{ img_small }}"
     data-src="{{ img_api }}"
     data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048, 2450, 2700, 3000, 3350, 3750, 4100, 4480]"
     data-aspectratio="{{ image.aspect_ratio }}"
     data-sizes="auto"
     style="background-image: url('{{ image | img_url: '1x1' }}');"
   {% else %}
    data-alt="{{ image.alt | default: shop.name }}"
    data-bgset="{% include 'bgset', image: image %}"
   {% endif %}>
  </div>

  {%- unless parallax -%}
    <div
     class="section-bg lazyload medium--hide large--hide"
     data-alt="{{ image_mobile.alt | default: shop.name }}"
     data-bgset="{% include 'bgset', image: image_mobile %}">
    </div>
    <noscript>
      <div class="section-bg small--hide" style="background-image: url('{{ image | img_url: '1280x' }}');"></div>
      <div class="section-bg medium--hide large--hide" style="background-image: url('{{ image_mobile | img_url: '1280x' }}');"></div>
    </noscript>
  {%- endunless -%}

  <div class="section-body{% if inverse %} section-inverse{% endif %} text-center">
    <div class="wrapper">
      <div class="grid">
        <div class="grid__item grid__item large--eight-twelfths push--large--two-twelfths">
          {%- unless subtitle == blank -%}
            <h3 class="section-subtitle">{{ subtitle | escape }}</h3>
          {%- endunless -%}

          {%- unless title == blank -%}
            <h2 class="section-title h1">{{ title | escape }}</h2>
          {%- endunless -%}

          {%- if content != blank -%}
            <div class="section-content rte">
              {{ content }}
            </div>
          {%- endif -%}

          {%- unless btn_text == blank or btn_link == blank -%}
            <a href="{{ btn_link }}" class="{{ btn_style }}">{{ btn_text }}</a>
          {%- endunless -%}
        </div>
      </div>
    </div>
  </div>
</section>
