{%- assign on_sale = false -%}
{%- if variant.compare_at_price > variant.price -%}
  {%- assign on_sale = true -%}
{%- endif -%}

{%- assign sold_out = true -%}
{%- if variant.available -%}
  {%- assign sold_out = false -%}
{%- endif -%}

{%- assign new_product = false -%}
{%- assign published_date = variant.published_at | date: "%s"  -%}
{%- assign now_date = 'now' | date: "%s" -%}
{%- assign age_in_days = now_date | minus: published_date | divided_by: 60 | divided_by: 60 | divided_by: 12 -%}
{%- if age_in_days < settings.tag_new_limit -%}
  {%- assign new_product = true -%}
{%- endif -%}

{%- assign sellout_tag = false -%}
{%- if sold_out and settings.tag_sellout -%}
  {%- assign sellout_tag = true -%}
{%- endif -%}

{%- assign new_tag = false -%}
{%- if new_product and settings.tag_new -%}
  {%- assign new_tag = true -%}
{%- endif -%}

{%- assign sale_tag = false -%}
{%- if on_sale and settings.tag_sale -%}
  {%- assign sale_tag = true -%}
{%- endif -%}

{%- assign tagged = false -%}
{%- if sellout_tag or new_tag or sale_tag -%}
  {%- assign tagged = true -%}
{%- endif -%}

{%- capture sticker -%}
  {%- if tagged %}
    {%- if sellout_tag -%}
      <div class="sticker sticker--sold">{{ 'products.product.sold_out' | t }}</div>
    {%- elsif sale_tag -%}
      <div class="sticker sticker--sale">{{ 'products.product.sale' | t }}</div>
    {%- elsif new_tag -%}
      <div class="sticker sticker--new">{{ 'products.product.new' | t }}</div>
    {%- endif -%}
  {%- endif -%}
{%- endcapture -%}

{%- assign product_img = variant.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

{%- assign double_img = false -%}
{% if variant.images[1].src and settings.image_hover_enable %}
  {%- assign double_img = true -%}
{% endif %}

{%- if settings.image_autoheight_enable -%}
{%- assign top_offset =  1 | divided_by: variant.featured_image.aspect_ratio | times: 100 | divided_by: 2 -%}
{%- capture auto_height -%}
  {%- if variant.featured_image.aspect_ratio < 1 -%}
    style="width:{{ variant.featured_image.aspect_ratio | times: 100 }}%; margin: 0 auto;"
  {%- else -%}
    style="padding:{{ 50 | minus: top_offset }}% 0;"
  {%- endif -%}
{%- endcapture -%}
{%- endif -%}


<div class="grid__item {{ grid_offset }} {{ grid_width_small }} {{ grid_width_medium }} {{ grid_width_large }}{% if on_sale %} on-sale{% endif %}{% if tagged %} tagged{% endif %}{% if sold_out %} soldout{% endif %} product-grid-item{% unless block.id == blank %} product-grid-item--{{ block.id }}{% endunless %}">
  <div class="grid__body">
    <div class="grid__image">
      <div {{ auto_height }}>
        <a
         href="{{ variant.url | within: collection }}"
         class="lazy-image"
         style="padding-top:{{ 1 | divided_by: variant.featured_image.aspect_ratio | times: 100}}%; background-image:  url('{{ variant.featured_image | img_url: '1x1' }}');">
          <img class="lazyload fade-in"
            alt="{{ variant.featured_image.alt | default: variant.title  }}"
            data-src="{{ product_img }}"
            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048, 2450, 2700, 3000, 3350, 3750, 4100, 4480]"
            data-aspectratio="{{  variant.featured_image.aspect_ratio }}"
            data-sizes="auto"/>
          {{ sticker }}
        </a>
      </div>
      <noscript>
        <a href="{{ variant.url | within: collection }}">
          <img src="{{ variant.featured_image | img_url: '360x' }}" alt="{{ variant.featured_image.alt | default: variant.title  }}">
        </a>
      </noscript>
    </div>

    <div class="grid__meta">
      <a href="{{ variant.url | within: collection | capitalize }}">
        <div class="grid--full">
          <div class="grid__item five-eighths text-left">
            <h4 class="grid__title">
              {{ product.title }}
            </h4>

            {%- unless variant.title == blank -%}
              <p class="grid__variant-title">
                {{ variant.title }}
              </p>
            {%- endunless -%}
          </div>

          <div class="grid__item three-eighths text-right">
            <p class="grid__price">
              <span class="price{% if on_sale %} on-sale{% endif %}">
                {% if variant.price_varies %}{{ 'products.general.from' | t }} {% endif %}
                <span class="money">{{ variant.price | money }}</span>
              </span>

              {% if sold_out %}
                {% comment %}
                  <br /><em>{{ 'products.product.sold_out' | t }}</em>
                {% endcomment %}
              {% endif %}

              {% if on_sale %}
                <span class="compare-at">
                  <span class="money">{{ variant.compare_at_price | money }}</span>
                </span>
              {% endif %}

              {% if variant.metafields.spr.reviews %}
                <br />
                <span class="shopify-product-reviews-badge" data-id="{{ variant.id }}"></span>
              {% endif %}
            </p>
          </div>
        </div>
      </a>
    </div>
    {% include 'banana-stand-product-list-container' %}
  </div>
</div>

