<style>
    #new-lp--product-listing {
        background-color: {{ section.settings.bg_color }};
    }

    #new-lp--product-listing .product-listing__container .product-listing__subtitle {
        color: {{ section.settings.subtitle_color }};
    }

    #new-lp--product-listing .product-listing__container .product-listing__title {
        color: {{ section.settings.title_color }};
    }
</style>

<section class="lp-shoreline--product-listing" data-section-id="{{ section.id }}" {% if section.settings.hide_section %}style="display: none;"{% endif %}>
    <div id="new-lp--product-listing">
        <div class="product-listing__container">
            {% if section.settings.subtitle != blank %}
                <h5 class="product-listing__subtitle">{{ section.settings.subtitle }}</h5>
            {% endif %}
            {% if section.settings.title != blank %}
                <h3 class="product-listing__title">{{ section.settings.title }}</h3>
            {% endif %}

            <div class="product-listing__items">
                {% for block in section.blocks %}
                    {% include 'new-lp--product-card' %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Products Listing",
    "settings": [
        {
            "type": "checkbox",
            "id": "hide_section",
            "label": "Hide section?",
            "default": false
        },
        {
            "type": "color",
            "id": "bg_color",
            "label": "Background color of section",
            "default": "#FFFFFF"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "Section subtitle"
        },
        {
            "type": "color",
            "id": "subtitle_color",
            "label": "Color of subtitle",
            "default": "#F2970E"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Section title"
        },
        {
            "type": "color",
            "id": "title_color",
            "label": "Color of title",
            "default": "#000000"
        }
    ],
    "blocks": [
        {
            "type": "block",
            "name": "Product",
            "settings": [
                {
                    "type": "url",
                    "id": "product_url",
                    "label": "Product link"
                },
                {
                    "type": "header",
                    "content": "High line of card"
                },
                {
                    "type": "color",
                    "id": "bg_color_hl",
                    "label": "Background-color"
                },
                {
                    "type": "image_picker",
                    "id": "bg_img_hl",
                    "label": "Background-image"
                },
                {
                    "type": "image_picker",
                    "id": "first_prd_img",
                    "label": "Product image"
                },
                {
                    "type": "image_picker",
                    "id": "second_prd_img",
                    "label": "Product image on hover"
                },
                {
                    "type": "header",
                    "content": "Low line of card"
                },
                {
                    "type": "color",
                    "id": "bg_color_ll",
                    "label": "Background-color",
                    "default": "#FBFBFB"
                },
                {
                    "type": "text",
                    "id": "product_title",
                    "label": "Product title"
                },
                {
                    "type": "color",
                    "id": "prd_title_color",
                    "label": "Color of product title",
                    "default": "#181818"
                },
                {
                    "type": "text",
                    "id": "product_subtitle",
                    "label": "Product subtitle"
                },
                {
                    "type": "color",
                    "id": "prd_subtitle_color",
                    "label": "Color of product subtitle",
                    "default": "#D9995F"
                }
            ]
        }
    ],
	"presets": [
      {
        "category": "Shoreline LP Products Listing",
        "name": "Shoreline LP Products Listing"
      }
     ]
}
{% endschema %}